:80 {
  root * /srv
  encode gzip
  file_server
  try_files {path} /index.html
  header {
    Access-Control-Allow-Origin *

    ?path \.(js|css|png|jpg|jpeg|gif|ico|svg)$ {
      Cache-Control "public, max-age=31536000"
    }

    ?path \.html$ {
      Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    }
  }
}
