.programMapContainer {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);
}

.navigationContainer {
    display: flex;
    position: sticky;
    top: var(--mantine-spacing-md);
    gap: var(--mantine-spacing-md);
    justify-content: center;
    z-index: 30;
}

.gridContainer {
    border: 1px solid var(--mantine-color-gray-3);
    border-radius: var(--mantine-radius-default);
    background-color: var(--mantine-color-white);
}

.programMap {
    display: grid;
    width: fit-content;
    gap: var(--mantine-spacing-md);
    padding: var(--mantine-spacing-md);
}

.dropIndicator {
    top: -0.6rem;
    height: 0.2rem;
    border-radius: var(--mantine-radius-default);
    width: 10rem;
    background-color: var(--mantine-primary-color-3);
    position: absolute;
    opacity: 0;
    z-index: 20;
}

.wrapper {
    min-width: fit-content;
}

.cell {
    position: relative;
    display: flex;
    justify-content: center;
    width: 10rem;
    min-height: 9rem;
}

.headerGridContainer {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border-bottom: 1px solid var(--mantine-color-gray-3);
    width: 100%;
}

.headerGrid {
    display: grid;
    position: sticky;
    top: 0;
    padding: var(--mantine-spacing-md);
    width: fit-content;

    gap: var(--mantine-spacing-md);
}

.headerCell {
    width: 10rem;
    color: var(--mantine-color-dimmed);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    position: relative;
}

.yearHeader {
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
    font-size: var(--mantine-font-size-sm);
}

.semesterHeader {
    font-size: var(--mantine-font-size-sm);
    grid-row: 2;
}
