.container {
  display: flex;
  gap: var(--mantine-spacing-xs);
  background-color: white;
  padding: var(--mantine-spacing-xs);
  border: solid 1px var(--mantine-color-gray-4);
  box-shadow: var(--mantine-shadow-lg);
  border-radius: var(--mantine-radius-default);
  width: max-content;
  pointer-events: auto;
}

.selection {
  gap: var(--mantine-spacing-xs);
  padding: var(--mantine-spacing-xs);
  border: solid 1px var(--mantine-color-gray-4);
  border-radius: var(--mantine-radius-default);
}

.toolbarContainer {
  position: fixed;
  bottom: var(--mantine-spacing-lg);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  pointer-events: none;
}
