.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    top: 0;
    z-index: 100;
    background-color: var(--mantine-color-gray-0);
    border-bottom: 1px solid var(--mantine-color-gray-3);
}

.content {
    flex: 1;
    padding: var(--mantine-spacing-lg);
}

.user {
    padding: var(--mantine-spacing-xs);
    color: var(--mantine-color-black);
    border-radius: var(--mantine-radius-default);
    transition: background-color 100ms ease;
}

.userActive {
    background-color: var(--mantine-color-white);
}

.tabsList {
    &::before {
        display: none;
    }
}

.tab {
    font-weight: 500;
    height: 38px;
    background-color: transparent;
    position: relative;
    bottom: -1px;

    &::before,
    &::after {
        background-color: light-dark(
                var(--mantine-color-gray-2),
                var(--mantine-color-dark-7)
        ) !important;
    }

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    }

    &[data-active] {
        background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
        border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
        border-bottom-color: transparent;
    }
}