.container {
    background-color: var(--mantine-color-gray-0);
    user-select: none;
    width: 9rem;
    /* Remove height: 8rem */
    min-height: 8rem; /* optional: allows grid row to stretch if span > 1 */
    height: 100%; /* makes it fill the spanned grid row height */
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-gray-3);
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: 0.2s ease;
}

.cell {
    position: relative;
    width: 100%;
}

.header {
    font-size: var(--mantine-font-size-xs);
    margin-top: -0.25rem;
}

.code {
    font-size: var(--mantine-font-size-sm);
    font-weight: var(--mantine-h6-font-weight);
    margin-bottom: 0.25rem;
    margin-top: 0;
}

.conflict {
    composes: container;
    background-color: var(--mantine-color-red-light);
    border: 1px solid var(--mantine-color-red-filled);
    z-index: 3;
    pointer-events: none;
}

.disabled {
    composes: container;
    opacity: 0.4;
}

.moving {
    composes: container;
    background-color: var(--mantine-primary-color-light);
    border: 1px solid var(--mantine-primary-color-filled);
    box-shadow: 0 0 0 2px var(--mantine-primary-color-light);
    z-index: 3;
    pointer-events: auto;
}

.name {
    margin-top: 0;
    line-clamp: 3;
}

.removeButton {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
}

.footer {
    font-size: var(--mantine-font-size-xs);
    color: var(--mantine-color-dimmed);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    padding-right: var(--mantine-spacing-sm);
    padding-left: var(--mantine-spacing-sm);
    transform: translateY(125%);
    transition: transform 0.2s ease;
}

.container:hover .footer {
    transform: translateY(0);
}