.container {
    background-color: var(--mantine-color-gray-0);
    user-select: none;
    width: 9rem;
    height: 8rem;
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-gray-3);
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}


.header {
    font-size: var(--mantine-font-size-xs);
    margin-top: -0.25rem;
}

.code {
    font-size: var(--mantine-font-size-sm);
    font-weight: var(--mantine-h6-font-weight);
    margin-bottom: 0.25rem;
    margin-top: 0;
}

.name {
    margin-top: 0;
}

.removeButton {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
}

.footer {
    font-size: var(--mantine-font-size-xs);
    color: var(--mantine-color-dimmed);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0.4rem;
    left: 0;
    right: -0.4rem;
    padding-right: var(--mantine-spacing-sm);
    padding-left: var(--mantine-spacing-sm);
    transform: translateY(100%);
    transition: transform 0.2s ease;
}

.container:hover .footer {
    transform: translateY(0);
}