---
const {id, year, track, program} = Astro.props;
---

<study-plan-chip id={id}
                 data-study-plan={JSON.stringify({id, year, track, program})}
                 class="p-2 px-3 text-sm rounded-lg border font-semibold hover:bg-blue-100 transition-all size-fit cursor-pointer">
    <a href={`/study-plans/${id}`}>
        <p>{`${year} / ${year + 1}`}</p>
        <p class="font-normal opacity-60 text-xs">{track ? ` ${track}` : ''}</p>
    </a>
</study-plan-chip>