---
const {id, year, track, programName} = Astro.props;
---

<a href=`/study-plans/${id}` class="p-4 px-5 pb-5 flex flex-col flex-shrink-0 justify-between space-y-2 bg-gray-200 w-60 h-40 rounded-lg relative hover:bg-blue-100 transition-all hover:shadow-lg select-none cursor-pointer">
    <header class="space-y-1">
        <h1 class="font-semibold line-clamp-2">B.Sc. {programName}</h1>
        <section>
            <h3 class="opacity-60 text-xs">Study Plan {year} / {year + 1}</h3>
            <p class="opacity-60 text-xs line-clamp-1">{track}</p>
        </section>
    </header>
    <footer class="w-full flex gap-2 items-center hover:scale-110 group transition-all justify-center">
        <p class="mb-0.5">Visit</p>
        <i data-lucide="arrow-right" class="size-5"/>
    </footer>
</a>

