---
const {id, year, track, programName} = Astro.props;
---

<a id="last-visited" class="p-4 px-5 pb-5 flex flex-col flex-shrink-0 justify-between space-y-2 bg-gray-200 w-60 h-40 rounded-xl relative hover:bg-blue-100 transition-all hover:shadow-lg select-none cursor-pointer">
    <header class="space-y-1">
        <h1 id="program-name" class="font-semibold line-clamp-2" />
        <section>
            <h3 id="year" class="opacity-60 text-xs" />
            <p id="track" class="opacity-60 text-xs line-clamp-1" />
        </section>
    </header>
    <footer class="w-full flex gap-2 items-center hover:scale-110 group transition-all justify-center">
        <p class="mb-0.5">Visit</p>
        <i data-lucide="arrow-right" class="size-5"/>
    </footer>
</a>

<script>
    const lastVisitedCard = document.getElementById('last-visited');
    const lastVisitedId = localStorage.getItem('lastVisited');
    const studyPlanElement = document.getElementById(`study-plan-${lastVisitedId}`);
    const studyPlan = JSON.parse(studyPlanElement?.dataset.studyPlan || '');
    const programElement = document.getElementById(`program-${studyPlan.program}`);
    const program = JSON.parse(programElement?.dataset.program || '');

    lastVisitedCard!.href = `/study-plans/${studyPlan.id}`;
    lastVisitedCard!.querySelector('#program-name')!.textContent = program.name;
    lastVisitedCard!.querySelector('#year')!.textContent =
        `Study Plan ${studyPlan.year} / ${studyPlan.year + 1}`;
    lastVisitedCard!.querySelector('#track')!.textContent = studyPlan.track;
</script>