.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);
}

.scrollArea {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}