.navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbarMain {
    flex: 1;
    margin-bottom: var(--mantine-spacing-md);
}

.header {
    margin-bottom: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.close {
    position: absolute;
    right: var(--mantine-spacing-sm);
    top: var(--mantine-spacing-sm);
}

.footer {
    padding-top: var(--mantine-spacing-md);
    border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    gap: 0.25rem;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

        .linkIcon {
            color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        }
    }

    &[data-status] {
        &,
        &:hover {
            background-color: var(--mantine-color-blue-light);
            color: var(--mantine-color-blue-light-color);

            .linkIcon {
                color: var(--mantine-color-blue-light-color);
            }
        }
    }
}

.linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
    width: 25px;
    height: 25px;
}