.programMap {
    margin-top: 0.45rem;
    display: grid;
    gap: var(--mantine-spacing-xs);
    justify-items: center;
}

.dropIndicator {
    top: -0.45rem;
    height: 0.25rem;
    border-radius: var(--mantine-radius-default);
    width: 100%;
    background-color: var(--mantine-primary-color-3);
    opacity: 0;
    box-shadow: var(--mantine-shadow-md);
    position: absolute;
}

.cell {
    position: relative;
    width: 9rem;
}

.headerGrid {
    display: grid;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: var(--mantine-color-body);
    grid-auto-rows: auto;
    gap: var(--mantine-spacing-xs);
}

.headerCell {
    width: 9rem;
    font-size: var(--mantine-font-size-xs);
    font-weight: 600;
    color: var(--mantine-color-dimmed);
    text-align: center;
    user-select: none;
    white-space: nowrap;
}

.yearHeader {
    grid-row: 1;
}

.semesterHeader {
    grid-row: 2;
}
