.card {
  overflow: visible;
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  background-color: var(--mantine-color-gray-0);
  user-select: none;
  height: 100%;
  border-radius: var(--mantine-radius-default);
  border: 1px solid var(--mantine-color-gray-3);
  padding: var(--mantine-spacing-md);
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  z-index: 10;
}

.errorIndicator {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: var(--mantine-color-red-6);
  color: white;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  z-index: 20;
}

.header {
  font-size: var(--mantine-font-size-sm);
  margin-top: -0.25rem;
}

.code {
  font-size: var(--mantine-font-size-sm);
  font-weight: var(--mantine-h6-font-weight);
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.conflict {
  composes: container;
  background-color: var(--mantine-color-red-0);
  border: 1px solid var(--mantine-color-red-3);
}

.disabled {
  composes: container;
  opacity: 0.4;
}

.moving {
  composes: container;
  background-color: var(--mantine-primary-color-light);
  border: 1px solid var(--mantine-primary-color-3);
}

.name {
  margin-top: 0;
  line-clamp: 3;
}

.optionsButton {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

.footer {
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  padding-right: var(--mantine-spacing-sm);
  padding-left: var(--mantine-spacing-sm);
  transform: translateY(125%);
  transition: transform 0.2s ease;
}

.container:hover .footer {
  transform: translateY(0);
}
